@import url('https://fonts.googleapis.com/css?family=Raleway');

html, body{
  min-height: 100%;
  background-color: #333;
}
body{
  margin: 0;
  padding: 50px;
}
h1{
  color: #fff;
  margin: 0;
}
.signIn{
  display: block;
  left: 0;
  right: 0;
  border-radius: 4px;
  /* margin: auto; */
  /* margin-left: auto; */
  /* margin-right: auto; */
  /* margin-left: auto; */
  /* margin-right: auto; */
}